.cards {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #ec4333;
}
.cards_regular {
  position: absolute;
  width: 163px;
  height: 56px;
  left: 138px;
  top: 148px;
}

.cards_premium {
  position: absolute;
  width: 194px;
  height: 56px;
  left: 138px;
  top: 532px;
}

.cards_diesel {
  position: absolute;
  width: 131px;
  height: 56px;
  left: 138px;
  top: 934px;
}
